/*------------------------------------------------------------- Navbar list Styling ----------------------------------------------*/

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
}


/*-------------------------------------------------------------Home Section ----------------------------------------------*/

#home {
    height: 400px;
    padding: 3px 20px;
}

#home::before {
    height: 480px;
}

#home h1 {
    margin-top: -70px;
}

#home p {
    font-size: 13px;
}


/*------------------------------------------------------------- Services Section ----------------------------------------------*/

#services {
    flex-direction: column;
}


/*-------------------------------------------------------------Client Section ----------------------------------------------*/


/*-------------------------------------------------------------Contact Section ----------------------------------------------*/

#contact-box input,
#contact-box textarea {
    width: 140%;
}


/*-------------------------------------------------------------Utility Section ----------------------------------------------*/

.h-primary {
    font-size: 2rem;
}

.btn {
    height: 30px;
    font-size: 12px;
    width: 90px;
    padding: 1px 7px;
}